@media (min-width: 960px){
  .btn:not(:first-child) {
    margin-left: 0.5rem;
  }

  .cta-btn.lavender{
    width: unset;
  }
}

.plan-silver-premium .title{
  font-size: 36px;
  line-height: 115%;
}

.plan .title,
.cmp-cta-contact h2,
#ship-features-faster h2 {
  font-size: 32px;
  line-height: 36px;
}

.feature-list-feature-section,
.feature-list-top-section {
  .col-md-7 h3{
    font-size: 24px;
    line-height: 30px;
  }

  p, li{
    font-size: 16px;
    line-height: 24px; 
  }
}

#ship-features-faster h4 {
  font-size: 19px;
  line-height: 24px;
}

.cmp-cta-contact h4{
  font-size: 23px;
  line-height: 28px; 
}


.slp-container {
  h2 {
    font-size: 36px;
    line-height: 44px;
  }

  h3 {
    font-size: 24px;
    line-height: 30px;
  }
}

.feature-list-feature-section{
  float: unset;
}

.slick-track{
  margin-top: 3rem;
}

.container2020 .btn:not([class*=u-margin-right]) {
  margin-right: unset;
}

.plan-inner-wrapper{
  background: #fff;
  padding: 2.4rem 2.7rem;
}

#pricing-nav-mobile li.slick-active[aria-controls=navigation00] {
  border-color: #9B51E0;
}

#pricing-nav-mobile li.slick-active[aria-controls=navigation01]{
  border-color: #FA7035;
}

#pricing-nav-mobile li.slick-active[aria-controls=navigation02]{
  border-color: #1DBA9E;
}

.feature-list-item a.highlight-gray,
.feature-list-item .arrow{
  font-size: 16px;
  line-height: 24px;
  color: #461189;
  background: transparent;
  text-decoration: none;
}

.feature-list-item a.highlight-gray:hover{
  text-decoration: underline;
}


// Plans Section
.plan{
  padding: 0;
  display: inline-block;

  .footnote{
    font-size: 12px;
    line-height: 20px;
    max-width: 70%;
    margin: 1rem auto 0;
  }

  .icon{
    color: #333;
  }

  .title {
    padding-top: 2rem;
  }
}

// Plan FREE - Gitlab for Education
.plan-free{
  margin-left: 20px;

  .title{
    text-transform: capitalize;
    margin-top: 2.2rem;

    &:before{
      display: none;
    }
  }

  
  .feature-title,
  .plan-inner-wrapper{
    border-color: #9B51E0;

    ul{
      margin-bottom: 0;
    }
  }

  .plan ul{
    margin-bottom: 0;
  }

  .cta-btn.start-free{
    background-color: #fff;
    border: transparent;
    box-shadow: none;
    text-decoration: underline;
    font-weight: 600;
    padding: 0;
    min-height: unset;
    width: auto;

    &:hover{
      color: #333;
    }
  }
}

// Plan SILVER - Gitlab for Campuses
.plan-silver-premium{
  margin-left: -10px;
  margin-top: -3rem;
  position: relative;

  .feature-title,
  .plan-inner-wrapper{
    border-color: #FA7035;
  }

  .cta-btn.start-silver-premium{
    background-color: #FA7035;
    border: #FA7035;
    text-decoration: none;
    font-weight: 600;

    &:hover{
      background-color: #e65328;
      border-color: #e65328;
    }
  }

  .title {
    position: relative;
    padding-top: 7rem;

    &:before{
      width: 100px;
      height: 100px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
  }
}

// Plan FREE - Academic Discount
.plan-gold-ultimate {
  margin-left: -10px;
  z-index: -1;

  .title {
    margin-top: 2.2rem;
  }

  .title:before{
    display: none;
  }

  .subtitle{
    padding-bottom: 2rem;
  }

  .feature-title,
  .plan-inner-wrapper{
    border-color: #1DBA9E;

    ul{
      margin-bottom: 0;
    }
  }

  .cta-btn.start-gold-ultimate{
    background-color: #fff;
    border: transparent;
    box-shadow: none;
    text-decoration: underline;
    color: #333;
    font-weight: 600;
    padding: 0;
    min-height: unset;
    width: auto;

    &:hover{
      color: #333;
    }
  }
}


@media (max-width: 479px){
  .feature-list-feature-section ul{
    padding-left: 1.2rem;
  }

  .container.container2020 .feature-list-item h4{
    font-size: 16px;
    line-height: 20px;
    text-align: left;
  }

  .feature-list-feature-section li{
    text-align: left;
  }

  .cmp-cta-contact h3 {
    font-size: 32px;
    line-height: 36px; 
  }

  .plan-inner-wrapper{
    padding: 2.4rem 1.7rem;
  }

  .plan-gold-ultimate .subtitle {
    padding-bottom: 0rem;
  }

  .plan-silver-premium .title{
    padding-top: 5rem;
  }

  .feature-list-item a.highlight-gray{
    font-size: 15px;
  }
}


#pricing-nav-mobile li[aria-controls=navigation00] button:before {
  content: "Education";
}

#pricing-nav-mobile li[aria-controls=navigation01] button:before {
  content: "Campus";
}

#pricing-nav-mobile li[aria-controls=navigation02] button:before {
  content: "Academic";
}